<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>我的播客源</title>
    <link rel="stylesheet" href="/static/podcast/index.css">
    <link rel="stylesheet" href="/static/podcast/podcast.css">
    <!--iOS 添加到主屏幕时始终全屏-->
    <link rel="manifest" href="/static/podcast/des.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/static/podcast/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <!-- 通过添加缓存控制标头来告知浏览器不缓存页面 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body style="background-color: #171717;">
    <div id="app" style="background-color: #171717;">
        <!-- 头部背景 -->
        <div id="bg-div"
            style="margin-top: 0px; height: 160px; width: 100%; margin-bottom: 6px; position: relative; overflow: hidden;">
            <img id="bg-img" alt="背景图片" src="/static/podcast/bg.png"
                style="width: 100%; height: 100%; object-fit: fill; position: absolute; top: 0; left: 0;">

            <div id="content-container" style="position: absolute; left: 50%; transform: translateX(-50%); bottom: -5px;">
                <!-- <img alt="图片加载中" src="/static/podcast/icon.png" style="width: 70px; margin-bottom: 5px;" /> -->
                <a href="index.html" target="_blank">
                    <img alt="图片加载中" src="/static/podcast/icon.png" style="width: 70px; margin-bottom: 5px;" />
                </a>
                <div class="podcast_title" style="display: flex; align-items: center; justify-content: center; font-size: 16px; color: #DAE4E8; padding-top: 0px; padding-bottom: 3px; line-height: 1.4;">
                    <p style="font-weight: bold; opacity: 1; margin-bottom: 0px; margin-top: 2px; margin-right: 4px; font-size: 19px;">共</p>
                    <p  style="font-family: 'num'; font-weight: bold; opacity: 1; margin-bottom: 0px; margin-top: 2px; margin-right: 4px; font-size: 22px;">{{ podcastNum }}</p>
                    <p style="font-weight: bold; opacity: 1; margin-bottom: 0px; margin-top: 2px; margin-right: 0px; font-size: 19px;">个播客源</p>
                </div>
                <div class="info_text"
                    style="width: 440px; text-align: center; color: #83898B; opacity: 1; padding-top: 0px; padding-bottom: 5px; line-height: 1.4;">
                    在 Safari 中打开，点击封面可快速添加至 Apple 播客 App 中
                </div>
            </div>
        </div>
        
        <div id="search-bg" style="top: 0px; padding-top: 0px; border-bottom: 1px solid rgba(0, 0, 0, 0); box-shadow: 0 20px 50px rgba(0, 0, 0, 0);">
            <div class="search-container"
                :style="{ 'margin-left': gridSettings.gutter +5 + 'px', 'margin-right': gridSettings.gutter +5 + 'px' }">
                <img src="/static/podcast/searchicon.svg" alt="" class="search-icon">
                <input v-model="searchTerm" @keyup.enter="performSearch" placeholder="输入书名、作者、演播者" class="search-input" />
                <button @click="performSearch" class="search-button">搜索</button>
            </div>
        </div>
        <van-config-provider theme="dark">
            <template v-if="isLoading">
                <div class="loading-container">
                    <div class="loading"></div>
                </div>
                <p class="loading-text">加载中，请稍候</p>
            </template>
            <template v-else>
                <template v-if="!status">
                    <van-empty image="/static/podcast/empty.svg" image-size="100" description="好遗憾，还未生成播客源 !!" />
                </template>
                <template v-else>
                    <template v-if="Object.keys(visiblePodcasts).length === 0">
                        <van-empty image="/static/podcast/empty.svg" image-size="100" description="没有找到匹配的有声书播客源" />
                    </template>
                    <template v-else>
                        <!-- 自定义右键菜单 -->
                        <div v-if="contextMenuVisible" :style="{ top: contextMenuY + 'px', left: contextMenuX + 'px' }" class="context-menu">
                            <div class="img-c" style="position: relative; height:80px; width: 80px; margin: 10px auto; border-radius: 100px; overflow: hidden;">
                                <img style="border-radius: 100px; width: 80px; " :src="cover_url || '/static/podcast/default.jpg'" />
                                <div 
                                    style="width: 100%; height: 100%; border-radius: 100px; position: absolute; top: 0; left: 0; border: 1px solid rgba(255, 255, 255, 0.2); box-sizing: border-box; pointer-events: none;">
                                </div>
                            </div>

                            <p style="font-size: 16px; padding: 0px 5px 0px 0px; font-weight: normal; opacity: 1; margin-bottom: 0px; margin-top: 3px;">{{ podcast_title }}</p>
                            <div style="display: flex; align-items: center; justify-content: center; padding: 0px 0px 0px 0px; margin-top: 3px; margin-bottom: 4px">
                                <div style="font-size: 12px; color: #ffffff; opacity: 0.75;">{{ podcast_author }}</div>
                                <div v-if="podcast_reader" style="font-size: 12px; color: #ffffff; opacity: 0.75; padding: 0 3px 2px 3px;">·</div>
                                <div v-if="podcast_reader" style="font-size: 12px; color: #ffffff; opacity: 0.75;">{{ podcast_reader }}</div>
                                <img v-if="podcast_reader" src="/static/podcast/reader.svg" style="height: 12px; padding-left: 3px;" alt="">
                            </div>
                            <!-- 展示更新时间和生成播客源的时间 -->
                            <p v-if="sync_time && update_time" style="font-size: 8px; padding: 0px 0px 0px 0px; font-weight: normal; opacity: 0.25; margin-bottom: 0px; margin-top: 0px;">{{ sync_time }} 同步 / {{ update_time }} 更新</p>
                            <p v-if="!sync_time && update_time" style="font-size: 8px; padding: 0px 0px 0px 0px; font-weight: normal; opacity: 0.25; margin-bottom: 0px; margin-top: 0px;">更新于 {{ update_time }}</p>
                            <p v-if="sync_time && !update_time" style="font-size: 8px; padding: 0px 0px 0px 0px; font-weight: normal; opacity: 0.25; margin-bottom: 0px; margin-top: 0px;">同步于 {{ sync_time }}</p>
                            <div class="under_line" style="margin-top: 8px;"></div>

                            <div @click="copyUrl" class="url_bg" @mouseenter="playHoverSound">
                                <img class="x-icon" src="/static/podcast/copy.svg" style="height: 16px; padding: 0px 3px 0px 40px;" alt="">
                                <p class="url_txt">复制 RSS URL</p>
                            </div>
                            <div @click="openUrl" class="url_bg" @mouseenter="playHoverSound">
                                <img class="x-icon" src="/static/podcast/open.svg" style="height: 15px; padding: 0px 3px 0px 40px;" alt="">
                                <p class="url_txt">打开 RSS URL</p>
                            </div>
                            <div v-if="isApple"  @click="ToPodcast(selectedUrl)" class="url_bg" @mouseenter="playHoverSound">
                                <img class="x-icon" src="/static/podcast/podcast.svg" style="height: 19px; padding: 0px 3px 0px 40px;" alt="">
                                <p class="url_txt" style="padding: 0px 2px 0px 3px;">在</p>
                                <p class="url_txt"  style="padding: 0px 1.5px 0px 1px;">播客</p>
                                <p class="url_txt"  style="padding: 0px 40px 0px 1px;">中打开  </p>
                            </div>
                        </div>
                        <van-grid class="fade-in-up" :border="false" :gutter="gridSettings.gutter"
                            :column-num="gridSettings.columnNum" style="margin: 0px 5px 0 5px;">
                            <van-grid-item class="img_card" v-for="(podcast, title) in visiblePodcasts" :key="title"
                                text="文字" style="border-radius: 7px;">
                                <div style="width: 100%; margin-top: 5px; padding-bottom: 100%; position: relative; border-radius: 7px; overflow: hidden;">
                                    <div @contextmenu="showContextMenu($event, podcast.podcast_url, podcast.title, podcast.cover_url, podcast.podcast_author, podcast.reader,podcast.sync_time,podcast.update_time)">
                                        <img 
                                            @click="ToPodcast(podcast.podcast_url)"
                                            style="position: absolute; border-radius: 7px; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; cursor: pointer;"
                                            lazy-load :src="podcast.cover_url || '/static/podcast/default.jpg'"
                                            @error="setDefaultImage" />
                                    </div>
                                    <div
                                        style="width: 100%; height: 100%; border-radius: 7px; position: absolute; top: 0; left: 0; border: 1px solid rgba(255, 255, 255, 0.1); box-sizing: border-box; pointer-events: none;">
                                    </div>
                                </div>
                                <div 
                                    :style="{ cursor: podcast.xmly_url ? 'pointer' : 'default' }"
                                    @click="podcast.xmly_url ? ToXmly(podcast.xmly_url) : null" 
                                    style="display: flex; align-items: center; margin-top: 8px;"
                                >
                                    <p class="text-ellipsis" style="font-size: 15px; font-weight: normal; opacity: 1; margin-bottom: 1px; margin-top: 0px;">{{ podcast.title }}</p>
                                    <img class="sub-ani" v-if="podcast.sub" src="/static/podcast/bars.svg" style="height: 14px; padding-left: 3px; padding-top: 0px;" alt="">
                                </div>
                                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" @click="PhoneContextMenu($event, podcast.podcast_url, podcast.title, podcast.cover_url, podcast.podcast_author, podcast.reader,podcast.sync_time,podcast.update_time)">
                                    <div style="display: flex; align-items: center;">
                                        <!-- <p v-if="podcast.audio_num" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; margin-right: 2px; font-size: 12px;">共</p>
                                        <p v-if="podcast.audio_num" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; font-size: 12px;">{{podcast.audio_num}}</p>
                                        <p v-if="podcast.audio_num" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; margin-left: 2px; font-size: 12px;">集</p>
                                        <p v-if="podcast.audio_num && podcast.podcast_author" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; font-size: 12px; margin-left: 1.5px;">·</p>
                                        <p v-if="podcast.podcast_author" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; font-size: 12px; margin-left: 1.5px;">{{podcast.podcast_author}}</p> -->
                                        
                                        <p v-if="podcast.audio_num && podcast.podcast_author" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; font-size: 12px; margin-left: 0px;">共 {{podcast.audio_num}} 集 · {{podcast.podcast_author}}</p>
                                        <p v-if="podcast.audio_num && !podcast.podcast_author" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; font-size: 12px; margin-left: 0px;">共 {{podcast.audio_num}} 集</p>
                                    </div>
                                    <div style="display: flex; align-items: center; margin-top: 2px;">
                                        <!-- <p v-if="podcast.reader" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; font-size: 12px; margin-right: 2px;">由</p> -->
                                        <p v-if="podcast.reader" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 0px; font-size: 12px; margin-right: 2px;">{{podcast.reader}}</p>
                                        <img v-if="podcast.reader" src="/static/podcast/reader.svg" style="height: 12px; padding-left: 0px; padding-top: 1px;" alt="">
                                        <!-- <p v-if="podcast.reader" class="text-ellipsis" style="font-weight: normal; opacity: 0.7; margin-bottom: 0px; margin-top: 2px; font-size: 12px; margin-left: 0px;">演播</p> -->
                                    </div>
                                </div>
                            </van-grid-item>
                        </van-grid>
                        <div style="display: flex; align-items: center; justify-content: center; margin-top: 25px;">
                            <p style="font-weight: normal; opacity: 0.2; margin-bottom: 0px; margin-top: 0px; font-size: 14px; margin-right: 0px;">到底了，没有更多了！</p>
                        </div>
                    </template>
                </template>
            </template>
            <div style="height: 80px;"></div>
            <van-back-top />
        </van-config-provider>
        <van-number-keyboard safe-area-inset-bottom></van-number-keyboard>
    </div>
    <script src="/static/podcast/vue@3.js"></script>
    <script src="/static/podcast/vant.min.js"></script>
    <script src="/static/podcast/axios.min.js"></script>
    <script src="/static/podcast/podcast.js"></script>
</body>
</html>