<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新计划</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@4.0/lib/index.css"/> -->
    <link rel="stylesheet" href="/static/tv_calendar/index.css"/>
    <!--iOS 添加到主屏幕时始终全屏-->
    <link rel="manifest" href="/static/tv_calendar/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/static/tv_calendar/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">

    <style>
        /* 禁用双击放大 */
        * {
            touch-action: manipulation;
            -ms-content-zooming: none;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        .van-theme-dark body {
            color: white;
            background-color: #171717;
        }

        [v-cloak] {
            display: none;
        }
        /*选中文字*/
        ::selection {
            background: rgba(255, 162, 0, 0.4) !important;
            color: rgba(255, 255, 255, 0.9) !important;
        }
        img {
            user-select: none;
        }

        :root {
            --van-background: #171717
        }
        .van-card__tag {
            position: absolute;
            top: 8px;
            left: 0;
        }

        .van-card__thumb {
            width: 160px;
            height: auto;
        }
        .van-card__thumb img {
            border-radius: 6px;
        }
        .text-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        .text-ellipsis-2 {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        .text-ellipsis-5 {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        .tag-with-margin {
            margin-top: 8px;
            margin-left: 0px;
            display: inline-block;
            background-color: aquamarine;
            width: 10px;
            width: 10px;
        }
        .fade-in-up {
            opacity: 0;
            transform: translateY(20px);
            animation: fade-in-up 0.325s ease-out forwards;
        }

        @keyframes fade-in-up {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <van-config-provider theme="dark">
        <template v-if="status==false">
            <van-empty   image="https://fastly.jsdelivr.net/npm/@vant/assets/custom-empty-image.png"  image-size="120" description="怎么肥事!!怎么肥事!!" />
        </template>
        <template v-else>
            <template v-for="(item,index) in date_dict" :key="index">
                <div id="posterDiv" :style="{ marginTop: (isAddedToHomeScreen() && !isInIframe()) ? '45px' : '0px' }" v-if="index == 0">
                    <div style="display: flex; align-items: center;">
                        <img class="fade-in-up"
                            @click="goBack()"
                            style="width:160px; height: 240px; border-radius: 10px; overflow: hidden; margin-top: 20px;margin-left: 12px;margin-right: 10px;margin-bottom: 20px; cursor: pointer;"
                            lazy-load
                            :src="imageBaseUrl+item.season_poster"
                        ></img>
                        <div style="width: calc(100vw - 160px - 24px); height: 240px; display: flex; align-items: center;">
                            <div>
                                <h5 style="font-size: 24px; opacity: 0.9; font-weight: bold; margin-top: 0px; margin-bottom: 0px;" class="text-ellipsis-5">
                                    {{ item.tv_name }}
                                </h5>
                                <p style="color: #ffffff; opacity: 0.9; font-size: 14px; padding-top: 4px; margin: 0; text-align:left;">{{'第 '+item.season_number+' 季 · 共 '+date_dict.length+' 集'}}</p>
                                <div style="margin-top: 15px; margin-bottom: 0px;">
                                    <!-- <p style="color: #ffffff; opacity: 0.9; font-size: 14px; padding-top: 4px; margin: 0; text-align:left;">{{date_dict[0].episode_local_arr_f}}<span v-if="date_dict[0].episode_local_updated" style="font-size: 13px; padding-left: 3px;">✅</span></p> -->
                                    <p style="color: #ffffff; opacity: 0.9; font-size: 17px; font-weight: bold; margin: 0; text-align:left;">{{date_dict[0].episode_local_arr_f}}</p>
                                    <img v-if="date_dict[0].episode_local_updated" src="/static/tv_calendar/updated.svg" style="width:60px; padding-top: 4px; padding-bottom: 11px;" alt="">
                                    <p style="color: #ffffff; opacity: 0.65; font-size: 12px; padding-top: 4px; margin: 0; text-align:left;">{{date_dict[0].air_date+' - '+date_dict[date_dict.length - 1].air_date+' 更新'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 1px; background-color: #3e3e3e; opacity: 0.5; margin: 0px 12px 0px 12px"></div>
                </div>
                <div style="background-color: rgba(255, 255, 255, 0.038); margin: 12px 10px 0px 10px; border-radius: 10px;">
                    <van-card class="fade-in-up" :style="{ margin:'0px', background: 'rgba(255, 255, 255, 0.0)', padding: '4px 8px 4px 4px' }" :tag="item.vote_average>0?item.vote_average.toString():''">
                        <template #thumb>
                            <div style="position: relative; width:160px; height:90px; overflow: hidden; border-radius: 6px;" @click="openPlexApp()">
                                <div  v-if="dateFormat_b(item.air_date) === 'true'" style="filter: blur(3px);">
                                    <!-- van-image -->
                                    <img
                                            v-if="item.still_path!=null"
                                            style="width:160px; height:90px"
                                            lazy-load
                                            :src="imageBaseUrl+item.still_path"
                                    ></img>
                                    <img
                                            v-else-if="item.backdrop_path!=null"
                                            style="width:160px;"
                                            lazy-load
                                            :src="imageBaseUrl+item.backdrop_path"
                                    ></img>
                                    <img
                                            v-else-if="item.season_poster!=null"
                                            style="width:160px;"
                                            lazy-load
                                            :src="imageBaseUrl+item.season_poster"
                                    ></img>
                                    <img
                                            v-else
                                            style="width:160px;"
                                            lazy-load
                                            :src="imageBaseUrl+item.tv_poster"
                                    ></img>
                                </div>
                                <div v-else>
                                    <!-- van-image -->
                                    <img
                                            v-if="item.still_path!=null"
                                            style="width:160px;"
                                            lazy-load
                                            :src="imageBaseUrl+item.still_path"
                                    ></img>
                                    <img
                                            v-else-if="item.backdrop_path!=null"
                                            style="width:160px;"
                                            lazy-load
                                            :src="imageBaseUrl+item.backdrop_path"
                                    ></img>
                                    <img
                                            v-else-if="item.season_poster!=null"
                                            style="width:160px;"
                                            lazy-load
                                            :src="imageBaseUrl+item.season_poster"
                                    ></img>
                                    <img
                                            v-else
                                            style="width:160px;"
                                            lazy-load
                                            :src="imageBaseUrl+item.tv_poster"
                                    ></img>
                                </div>
                                <div v-if="dateFormat_b(item.air_date) === 'true'" style="color: #ffffff; opacity: 0.8; font-weight: bold; font-size: 18px; position: absolute; top: 50%; width:160px; height:90px; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.4); display: flex; justify-content: center; align-items: center;">
                                    即将更新
                                </div>
                                <div v-else-if="dateFormat_b(item.air_date) === 'today' && !date_dict[0].episode_local_updated" style="color: #ffffff; opacity: 0.8; font-weight: bold; font-size: 18px; position: absolute; top: 50%; width:160px; height:90px; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.4); display: flex; justify-content: center; align-items: center;">
                                    今日更新
                                </div>
                                <div v-else-if="dateFormat_b(item.air_date) === 'today' && date_dict[0].episode_local_updated" style="color: #ffffff; opacity: 0.8; font-weight: bold; font-size: 18px; position: absolute; top: 50%; width:160px; height:90px; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.4); display: flex; justify-content: center; align-items: center;">
                                    今日已更新
                                </div>
                            </div>
                        </template>
                        
                        <template #desc>
                            <div style="height: 90px; display: flex; align-items: center;">
                                <div>
                                    <h5 class="text-ellipsis-2" style="font-size: 14px; opacity: 0.9; font-weight: bold; margin-top: -2px; margin-bottom: 4px;">
                                        {{ item.episode_number + ' - ' + (getTitle(item.name) || ('第' + item.episode_number + '集')) }}
                                    </h5>
                                    <span style="color: #ffffff; opacity: 0.9;">{{dateFormat(item.air_date)+' '+getWeek(item.air_date)}}</span>
                                    <p style="color: #ffffff; opacity: 0.5; font-size: 11px; padding-top: 4px; margin: 0; text-align:left;" class="text-ellipsis">{{item.overview.trim()}}</p>
                                </div>
                            </div>
                        </template>
                    </van-card>
                    <div v-if="item.episode_local_filename" style="background-color: rgba(255, 255, 255, 0.0); display: flex; margin: 0px; justify-content: left; align-items: center;">
                        <p style="color: rgba(255, 255, 255, 0.7); font-size: 10px; padding: 3px 2px 4px 7px; margin: 0; text-align:left;" class="text-ellipsis">{{item.episode_local_filename}}</p>
                    </div>
                    <div v-if="item.episode_local_filename" style="background-color: rgba(255, 255, 255, 0.0); display: flex; margin: 0px; justify-content: left; align-items: center;">
                        <img v-if="item.episode_local_videoResolution" :src="`/static/tv_calendar/${item.episode_local_videoResolution}.svg`" style="height:13px; padding: 0px 0px 8px 7px;" alt="">
                        <img v-if="item.episode_local_display_title" :src="`/static/tv_calendar/${item.episode_local_display_title}.svg`" style="height:13px; padding: 0px 0px 8px 7px;" alt="">
                        <p v-if="item.episode_local_duration" style="color: rgba(255, 255, 255, 0.7); font-size: 11px; padding: 0px 2px 8px 9px; margin: 0; text-align:left;" class="text-ellipsis">{{item.episode_local_duration}}</p>
                        <!-- <p style="color: rgba(255, 255, 255, 0.7); font-size: 10px; padding: 0px 3px 8px 3px; margin: 0; text-align:left;" v-if="item.episode_local_display_title" class="text-ellipsis">{{item.episode_local_display_title}}</p> -->
                        <!-- <p style="color: rgba(255, 255, 255, 0.7); font-size: 10px; padding: 0px 3px 8px 3px; margin: 0; text-align:left;" class="text-ellipsis">{{item.episode_local_videoResolution}}</p> -->
                        <p v-if="item.episode_local_size" style="color: rgba(255, 255, 255, 0.35); font-size: 12px; padding: 0px 2px 9px 3px; margin: 0; text-align:left;" class="text-ellipsis">·</p>
                        <p v-if="item.episode_local_size" style="color: rgba(255, 255, 255, 0.7); font-size: 11px; padding: 0px 2px 8px 3px; margin: 0; text-align:left;" class="text-ellipsis">{{item.episode_local_size}}</p>
                        <p v-if="item.episode_local_bitrate" style="color: rgba(255, 255, 255, 0.35); font-size: 12px; padding: 0px 2px 9px 3px; margin: 0; text-align:left;" class="text-ellipsis">·</p>
                        <p v-if="item.episode_local_bitrate" style="color: rgba(255, 255, 255, 0.7); font-size: 11px; padding: 0px 3px 8px 3px; margin: 0; text-align:left;" class="text-ellipsis">{{item.episode_local_bitrate}}</p>
                    </div>
                
                </div>
                
                
            </template>
            <div style="height: 50px;"></div>
            <van-back-top />
        </template>

    </van-config-provider>
    <van-number-keyboard safe-area-inset-bottom></van-number-keyboard>
</div>
<!-- <script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
<script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script src="/static/tv_calendar/vue@3.js"></script>
<script src="/static/tv_calendar/vant.min.js"></script>
<script src="/static/tv_calendar/axios.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                date_dict: [],
                // imageBaseUrl: 'https://image.tmdb.org/t/p/w500',
                imageBaseUrl: '/static/tv_calendar/img',
                offset: 7,
                showId: '',
                seasonNumber: '',
                status: true
            }
        },
        methods: {
            getTitle(name) {
                if (name.substring(0,1)==='第'){
                    return ''
                }else {
                    return name
                }

            },
            getDate(strDate) {
                if(strDate){
                    return new Date((strDate).replace(/-/g,"/"))
                }else{
                    return '';
                }
                
            },
            dateFormat(dateStr) {
                date = this.getDate(dateStr) //转换成Data();
                if(date){
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? '0' + m : m;
                    var d = date.getDate();
                    d = d < 10 ? ('0' + d) : d;
                    return y + '年' + m + '月' + d + '日';
                }
                return ''
                
            },
            dateFormat_b(dateStr) {
                const date = this.getDate(dateStr); //转换成Date对象
                const today = new Date(); //获取当前日期
                if(date > today) {
                    return 'true'; // 日期晚于今天，返回'true'
                } else if(date.toDateString() === today.toDateString()) {
                    return 'today'; // 日期和今天相等，返回'today'
                }
                return ''; // 其他情况返回空字符串
            },
            getWeek(date) {
                const weekArr = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"]
                return weekArr[new Date(date).getDay()]
            },
            openPlexApp() {
                // var ratingKey = '65771';
                window.location.href = 'plex://';
            },
            getEpisodeDetail(tmdb_id, season_number) {
                let cachedEpisodes = localStorage.getItem('cachedEpisodes')
                if (cachedEpisodes) {
                    let filterEpisodes = JSON.parse(cachedEpisodes).filter((episode) => {
                        return episode['show_id'] == tmdb_id && episode['season_number'] == season_number
                    })
                    this.date_dict = filterEpisodes
                    if (JSON.parse(cachedEpisodes).length == 0) {
                        this.status = false
                    } else {
                        this.status = true
                    }
                } 
                // } else {
                //     axios({
                //         method: 'get',
                //         url: '/static/tv_calendar/original.json?' + new Date().getTime()
                //     }).then(res => {
                //         let episodes = res.data
                //         localStorage.setItem('cachedEpisodes', JSON.stringify(episodes)) // Store the data in local storage
                //         let filterEpisodes = episodes.filter((episode) => {
                //             return episode['show_id'] == tmdb_id && episode['season_number'] == season_number
                //         })
                //         this.date_dict = filterEpisodes
                //         if (episodes.length == 0) {
                //             this.status = false
                //         } else {
                //             this.status = true
                //         }
                //     }).catch(e => {
                //         this.status = false
                //     });
                // }
            },

            groupBy(list, fn) {
                const groups = {};
                list.forEach(function (o) {
                    // const group = JSON.stringify(fn(o));
                    const group = fn(o);
                    groups[group] = groups[group] || [];
                    groups[group].push(o);
                });
                return groups;
            },
            getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            },
            goBack() {
                history.back();
                // 还原滚动位置
                if ('scrollRestoration' in history) {
                    history.scrollRestoration = 'auto';
                }
            },
            // 判断是否在iframe中
            isInIframe() {
                try {
                    return window.self !== window.top;
                } catch (e) {
                    return true;
                }
            },
            // 判断是否在主屏幕中
            isAddedToHomeScreen() {
                return window.navigator.standalone || window.matchMedia('(display-mode: standalone)').matches;
            }
        },
        mounted() {
            this.showId = this.getQueryString('showId');
            this.seasonNumber = this.getQueryString('seasonNumber');
            this.getEpisodeDetail(this.showId, this.seasonNumber);
        }
    })

    app.use(vant);
    app.use(vant.Lazyload);
    app.mount('#app');
</script>
</body>
</html>
